
  
 @import url('https://fonts.googleapis.com/css?family=Mukta|Ropa+Sans&display=swap');
 
body {
  
  margin: 0;
   font-family: 'Mukta', sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  
  z-index: -999;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
